/* Dialog */
.content-header {
  margin: 0px 0px 0px 0px;
  font-weight: bold;
}
.toc-header {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.timweb .dijitDialogRtl .dijitDialogCloseIcon {
  right: auto;
  left: 5px;
}
.timweb .dijitDialogRtl .dijitDialogPaneActionBar {
  text-align: left;
  padding: 3px 7px 2px 5px;
}
