/* TitlePane */
.content-header {
  margin: 0px 0px 0px 0px;
  font-weight: bold;
}
.toc-header {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.timweb .dijitTitlePaneRtl .dijitClosed .dijitArrowNode,
.timweb .dijitFieldsetRtl .dijitFieldsetTitleClosed .dijitArrowNode {
  background-position: -7px 0;
}
