/* Toolbar RTL */
.content-header {
  margin: 0px 0px 0px 0px;
  font-weight: bold;
}
.toc-header {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
/* Repeated rules from Toolbar.css to override rule from Button_rtl.css, which is loaded after Toolbar.css */
.timweb .dijitToolbar .dijitComboButtonRtl .dijitButtonNode {
  border-width: 0;
  padding: 2px;
}
.timweb .dijitToolbar .dijitComboButtonRtlHover .dijitButtonNode,
.timweb .dijitToolbar .dijitComboButtonRtlActive .dijitButtonNode {
  border-width: 1px;
  padding: 1px;
}
.timweb .dijitToolbar .dijitComboButtonRtl .dijitStretch {
  /* no rounded border on side adjacent to arrow */

  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.timweb .dijitToolbar .dijitComboButtonRtl .dijitArrowButton {
  /* no rounded border on side adjacent to button */

  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.timweb .dijitToolbar .dijitComboButtonRtlHover .dijitArrowButton,
.timweb .dijitToolbar .dijitComboButtonRtlActive .dijitArrowButton {
  /* border between button and arrow */

  border-left-width: 1px;
  border-right-width: 0;
  padding-left: 1px;
  padding-right: 2px;
}
