/* timweb/form/Common_rtl.css */
.content-header {
  margin: 0px 0px 0px 0px;
  font-weight: bold;
}
.toc-header {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.timweb .dijitTextBoxRtlError .dijitValidationContainer {
  border-left-width: 0;
  border-right-width: 1px;
}
